html,
body {
    height: 100%;
    font: 1em/1.3em FavoritC, Arial, Tahoma, "Trebuchet MS", sans-serif;
}

body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#222224), to(#1c242e));
    background-image: linear-gradient(to bottom, #222224, #1c242e);

}

A:link {
    text-decoration: none;
}

A:visited {
    color: white
}

A:active {
    text-decoration: none;
}

A:hover {
    text-shadow: 1px 1px 2px black;
}

a {
    color: white;
}



.main {
    border: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
    min-width: 250px;
    margin: auto;
    /*                justify-content: center; */
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

h2 {
    color: white;
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: normal;
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}


dt {
    margin-top: -1em;
    margin-bottom: -1em;
}


/*Шапка*/

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    color: white;
    background-image: url(../images/shapka/kuat-head.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 25vmin;

}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 30px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

}

.logoimg {
    max-width: 100%;
}

.gala {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 30px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    font-size: 0.9em;
}




/*Меню*/

.menu {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    /*    margin-top: -15px;*/
    vertical-align: middle;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    height: 70px;
    background-image: url(../images/buttons/button.png);
    color: white;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 25%;
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;
}



.button:hover {
    background-image: url(../images/buttons/button2.png);
}

/*Блоки новостей*/

.inform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;


}

.news1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    border: solid 1px white;

}

.news_image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20%;
    flex: 1 1 20%;

    background-size: 100%;
    height: 36vmin;
    background-repeat: no-repeat;
}

.news_image_1 {
    background-image: url(../images/news/img/1-imperskiy/imperskiy2.png);
}

.news_image_2 {
    background-image: url(../images/news/img/2-boi/boi.png);
}

.news_image_3 {
    background-image: url(../images/news/img/3-atat/atat.png);
}

.news_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    color: white;
    padding: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;

}

.news_p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.news_zag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    font-size: 1.2em;
}

.podrobnee {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 10px;
}



/*Подвал*/

.footer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-top: 15px;
    vertical-align: middle;
    border-top: solid 1px white;
    background-color: #222224;
    height: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color: white;
    font-weight: lighter;
    font-size: 0.9em;
}

.footer-l {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    height: 82px;

}

.footer-c {
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;


}

.footer-r {
    margin-top: 30px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-right: 30px;

}

/*Звездное небо - фон*/

@font-face {
    font-family: "FavoritC";
    src: url("../fonts/FavoritC.eot");
    font-style: normal;
    font-weight: normal;
}


.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #111;
    z-index: -1;
}

.canvas {
    position: absolute;
    z-index: -1;
}

.back {
    top: -100px;
    left: -100px;
}

.mid {
    top: -200px;
    left: -200px;
}

.front {
    top: -400px;
    left: -400px;
}




/*Медиа-запросы*/

@media screen and (max-width: 875px) {

    .footer {

        height: 280px;
    }

    .footer-r {

        -webkit-box-flex: 1;

        -ms-flex: 1 1 100%;

        flex: 1 1 100%;
        margin: 0 0 0 30px;
    }


}


@media screen and (max-width: 770px) {

    .plash {
        height: 18vmin;
        font-size: 0.9em;
    }


    .gala {
        visibility: collapse;
    }

    .logoimg {
        margin: -10px 0 0 0;
        max-width: 120%;
    }

    .logo {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

}

@media screen and (max-width: 530px) {



    .news_text {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .button {
        width: 50%;

    }

    .footer-c {

        -webkit-box-flex: 1;

        -ms-flex: 1 1 100%;

        flex: 1 1 100%;
        margin: 0 0 0 30px;
    }

    .footer-l {
        margin-left: 30px;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;


    }
    .footer {

        height: 390px;
        width: 250px;
    }


    .footerlogo {
        height: 74px;
        width: 260px;
    }

}
